.regular-section {
  padding: $regular-padding;
}
.bg-gredient {
  background: linear-gradient(to bottom, #c7ecff 0, #f9efff 100%);
}

.bg-light-gredient {
  background: linear-gradient(to bottom, #fffaf5 0, #f8ecff 100%);
}
