// Import Custom variables
@import "includes/variables";

// Import Custom mixins
@import "includes/mixins";

// Bootstrap requires these files
@import "../../node_modules/bootstrap/scss/bootstrap";

// Import Custom mixins
@import "includes/fonts";

// Import Blocks
@import "blocks/header";
@import "blocks/regular";
@import "blocks/banner";

body {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.5;
}
